Node-Red/Gamla_Node-Red.json
[{"id":"55368ef3.dbb1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"610925f2.a06a54","type":"chart-image","z":"55368ef3.dbb1","name":"CHART IMAGE","width":"501","height":"301","x":820,"y":240,"wires":[["7ace8b1b.7a9fd4"]]},{"id":"4a66bfdc.894b48","type":"function","z":"55368ef3.dbb1","name":"","func":"//var ctx = document.getElementById('myChart').getContext('2d');\nvar chartData = msg.payload;\n\nconsole.log(chartData.plantTemps);\n\nmsg.payload =  {\n    type: 'line',\n    data: {\n    labels: [\"5Min Ago\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"Now\"],\n    datasets: [\n        { \n        data: chartData.plantTemps,\n        borderColor: \"#F56E98\",\n        fill: false\n      }\n    ]\n  },\n    options: {\n        scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: false\n                }\n            }]\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":240,"wires":[["610925f2.a06a54"]]},{"id":"76a52cab.6773a4","type":"mqtt out","z":"55368ef3.dbb1","name":"","topic":"plantTempsChart","qos":"","retain":"","broker":"49e44ce.d692eb4","x":1250,"y":240,"wires":[]},{"id":"369971da.b53446","type":"mqtt in","z":"55368ef3.dbb1","name":"","topic":"plantHistoricalData","qos":"2","datatype":"auto","broker":"6f51b5e4.c2ec4c","x":130,"y":160,"wires":[["54cb3cf3.dc953c"]]},{"id":"70a73bea.85cadc","type":"trigger","z":"55368ef3.dbb1","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-30","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":370,"y":320,"wires":[["f9fe14a.51c9f68"]]},{"id":"f9fe14a.51c9f68","type":"http request","z":"55368ef3.dbb1","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.0.193:3000/test","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":320,"wires":[["addfc19f.aa2d3"]]},{"id":"addfc19f.aa2d3","type":"http response","z":"55368ef3.dbb1","name":"","statusCode":"","headers":{},"x":790,"y":320,"wires":[]},{"id":"742b7885.b53638","type":"inject","z":"55368ef3.dbb1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":320,"wires":[["70a73bea.85cadc"]]},{"id":"54cb3cf3.dc953c","type":"json","z":"55368ef3.dbb1","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":160,"wires":[["4a66bfdc.894b48","fad508ee.7c5f58","e3b3b780.e1fd9"]]},{"id":"44512c61.d2ad4c","type":"chart-image","z":"55368ef3.dbb1","name":"CHART IMAGE","width":"1000","height":"301","x":820,"y":160,"wires":[["9b830f44.5f5e2"]]},{"id":"fad508ee.7c5f58","type":"function","z":"55368ef3.dbb1","name":"","func":"//var ctx = document.getElementById('myChart').getContext('2d');\nvar chartData = msg.payload;\n\n\nmsg.payload =  {\n    type: 'line',\n    data: {\n    labels: [\"5Min Ago\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"Now\"],\n    datasets: [\n        { \n        data: chartData.plantMoistures,\n        borderColor: \"#87A0E5\",\n        fill: false\n      }\n    ]\n  },\n    options: {\n        scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: false\n                }\n            }]\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":160,"wires":[["44512c61.d2ad4c"]]},{"id":"1b11679d.e1326","type":"chart-image","z":"55368ef3.dbb1","name":"CHART IMAGE","width":"1000","height":"301","x":820,"y":80,"wires":[["22e63467.165afc"]]},{"id":"e3b3b780.e1fd9","type":"function","z":"55368ef3.dbb1","name":"","func":"//var ctx = document.getElementById('myChart').getContext('2d');\nvar chartData = msg.payload;\n\nmsg.payload =  {\n    type: 'doughnut',\n    data: {\n      labels: [\"Light On\", \"Light Off\"],\n      datasets: [\n        {\n          backgroundColor: [\"#ffff00\", \"#808080\"],\n          data: [chartData.plantLightOn,chartData.plantLightOff]\n        }\n      ]\n    },\n    options: {\n      title: {\n        display: true,\n        text: 'Predicted world population (millions) in 2050'\n      }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":80,"wires":[["1b11679d.e1326"]]},{"id":"e37b83b4.ef7398","type":"mqtt out","z":"55368ef3.dbb1","name":"","topic":"plantMoisturesChart","qos":"","retain":"","broker":"49e44ce.d692eb4","x":1240,"y":160,"wires":[]},{"id":"1913962.5f929ea","type":"mqtt out","z":"55368ef3.dbb1","name":"","topic":"plantLightsChart","qos":"","retain":"","broker":"49e44ce.d692eb4","x":1250,"y":80,"wires":[]},{"id":"7ace8b1b.7a9fd4","type":"base64","z":"55368ef3.dbb1","name":"","action":"str","property":"payload","x":1020,"y":240,"wires":[["76a52cab.6773a4"]]},{"id":"9b830f44.5f5e2","type":"base64","z":"55368ef3.dbb1","name":"","action":"str","property":"payload","x":1020,"y":160,"wires":[["e37b83b4.ef7398"]]},{"id":"22e63467.165afc","type":"base64","z":"55368ef3.dbb1","name":"","action":"str","property":"payload","x":1020,"y":80,"wires":[["1913962.5f929ea"]]},{"id":"49e44ce.d692eb4","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"6f51b5e4.c2ec4c","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]